body {
    background-color: #C1D0D9;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #BF214B;
    overflow: auto;
}

/* Navigation links */
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #BF214B;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding-bottom: 12px;

    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #F26D85;
}

/* Style the current/active link */
.navbar a:active {
    background-color: #0E7373;
}

#bannerimg {
    width: 100%;
    height: auto;
}

.pic1 {
    position: absolute;
    width: 20%;
    margin: 3rem;
    top: 170px;
    right: 830px;
    padding: 10px;
    border-width: 10px;
    border-radius: 30px;
    border-color: #0E6973;
    border-style: solid;
}

.pic2 {
    position: absolute;
    width: 25%;
    margin: 3rem;
    top: 200px;
    right: 400px;
    padding: 10px;
    border-width: 10px;
    border-radius: 30px;
    border-color: #0E6973;
    border-style: solid;
}

.pic3 {
    position: absolute;
    width: 25%;
    margin: 3rem;
    top: 225px;
    right: 400px;
    padding: 10px;
    border-width: 10px;
    border-radius: 30px;
    border-color: #0E6973;
    border-style: solid;
}

.text1 {
    position: absolute;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    top: 160px;
    right: 265px;
    color: black;
    font-size: 1rem;
    text-align: center;
    border-width: 5px;
    border-radius: 100px;
    border-color: #0E6973;
    border-style: solid;
    background-color: #C1D0D9;
}

.text2 {
    position: absolute;
    width: 50%;
    margin: 1rem;
    padding: 0rem;
    top: 160px;
    right: 702px;
    text-decoration: underline;
    color: black;
    font-size: 2rem;
    text-align: center;
}

.text3 {
    position: absolute;
    width: 30%;
    margin: 1rem;
    padding: 0rem;
    top: 430px;
    right: 820px;
    color: black;
    font-size: .8rem;
    text-align: center;
}

.text4 {
    position: absolute;
    width: 95%;
    margin: 1rem;
    padding: 0rem;
    top: 175px;
    right: 15px;
    color: black;
    font-size: 1rem;
    text-align: left;
}

.text5 {
    position: absolute;
    width: 40%;
    margin: 1rem;
    padding: .5rem;
    top: 580px;
    right: 350px;
    color: black;
    font-size: 1rem;
    text-align: center;
    border-width: 2px;
    border-radius: 1px;
    border-color: #0E6973;
    border-style: solid;
    background-color: #C1D0D9;
}

.text6 {
    position: absolute;
    width: 50%;
    margin: 1rem;
    padding: 0rem;
    top: 175px;
    right: 132px;
    color: black;
    font-size: 3rem;
    text-align: left;
}

.text7 {
    position: absolute;
    width: 40%;
    margin: 1rem;
    padding: 1rem;
    top: 500px;
    right: 350px;
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: 'Mansalva', cursive;
}
